.grid {
    display: grid;

    &--layout {
        grid-template-rows: 80vh repeat(5, min-content);
        grid-template-columns: [nav-start] 8rem [nav-end full-start] minmax(6rem, 1fr) [center-start] repeat(2, [col-start] minmax(min-content, 14rem)) minmax(min-content, 24rem) repeat(4, [col-end] minmax(min-content, 14rem)) [center-end] minmax(6rem, 1fr) [full-end];
    }

    &--header {
        grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
        grid-template-columns: minmax(min-content, max-content);
        row-gap: 1.5rem;
        justify-content: center;
    }

    &--feature {
        grid-template-columns: min-content 1fr;
        gap: 1.5rem 2.5rem;
    }

    &--2x1fr {
        grid-template-columns: repeat(2, 1fr);
    }

    &--4x1fr {
        grid-template-columns: repeat(4, 1fr);
    }

    &--6x1fr {
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(6, 1fr);
    }

    &--7x5vw {
        grid-template-rows: repeat(7, 5vw);
    }

    &--8x1fr {
        grid-template-columns: repeat(8, 1fr);
    }

    &--fit-15 {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }

    &--fit-25 {
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    }

    &--gap-1-5 {
        gap: 1.5rem;
    }

    &--gap-2 {
        gap: 2rem;
    }

    &--gap-3 {
        gap: 0 3rem;
    }

    &--gap-3-5 {
        gap: 3.5rem 0;
    }

    &--gap-6 {
        gap: 6rem;
    }

    &--gap-7 {
        gap: 7rem;
    }

    &--align-start {
        align-items: start;
    }

    &--align-center {
        align-items: center;
    }

    &--justify-center {
        justify-items: center;
    }
}