.header {
    padding: 4rem 8rem 8rem;

    grid-column: full-start / col-end 3;

    background:
        linear-gradient(
            rgba(#101d2c, .93),
            rgba(#101d2c, .93)
        ),
        url(../../assets/img/hero.jpeg) center/cover;

    & .logo {
        justify-self: center;
    }

    & .paragraph {
        color: var(--clr-primary);
        text-transform: uppercase;
    }

    & .btn {
        align-self: flex-start;
        justify-self: start;
    }

    @include mq(medium) {
        grid-column: full-start / full-end;
    }

    @include mq(small) {
        padding: 2em 4rem 4rem;
    }
}