.nav {
    grid-area: 1 / nav-start / -1 / nav-end;

    &__list {
        list-style: none;
    }

    &__link:link,
    &__link:visited {
        color: var(--clr-ntrl-min);
        text-decoration: none;
    }

    &--bar {
        padding-top: 4rem;
        background: var(--clr-primary);
    }

    &--footer {
        & .nav__item {
            height: 100%;
        }

        & .nav__link:link,
          .nav__link:visited {
            padding: 1.5rem;
            height: 100%;

            font-size: 1.4rem;
            font-family: var(--fd-primary);
            text-transform: uppercase;
            text-align: center;

            transition: all .2s;

            &:hover,
            &:active {
                background: rgba(#fff, .05);

                transform: translateY(-3px);
            }
        }
    }
}