.nav {
    &__list {
        list-style: none;
    }

    &__link:link,
    &__link:visited {
        color: var(--clr-ntrl-min);
        text-decoration: none;
    }

    &--bar {
        grid-area: 1 / nav-start / -1 / nav-end;

        padding: 4rem 0;

        background: var(--clr-primary);

        @include mq(medium) {
            grid-area: 1 / 1 / 2 / -1;

            padding: 0 4rem;

            align-items: center;
            justify-content: flex-end;
        }
    }

    &--footer {
        font-size: 1.4rem;
        font-family: var(--fd-primary);
        text-transform: uppercase;
        text-align: center;
    }

    &--effect {
        & .nav__link:link,
          .nav__link:visited {
            padding: 1.5rem;
            height: 100%;

            transition: all .2s;

            &:hover,
            &:active {
                background: rgba(#fff, .05);

                transform: translateY(-3px);
            }
        }
    }
}