.realtor {
    &__img {
        display: block;

        max-width: 7rem;

        border-radius: 50%;
    }

    &__name {
        color: var(--clr-grey-100);

        font-size: 1.9rem;
        font-family: var(--fd-primary);
        font-weight: 400;
    }

    &__sold {
        margin-top: -3px;

        color: var(--clr-grey-200);

        text-transform: uppercase;
    }
}