.primary-title {
    @extend %heading;

    color: var(--clr-grey-100);

    font-size: 4.5rem;
    line-height: 1
}

.tertiary-title {
    @extend %heading;

    font-size: 1.9rem;

    &--story {
        margin-bottom: 2rem;

        color: var(--clr-primary);

        font-size: 1.6rem;
        text-transform: uppercase;
    }

    &--light {
        color: var(--clr-grey-100);
    }

    &--dark {
        color: var(--clr-grey-900);
    }
}

.quaternary-title {
    @extend %heading;

    color: var(--clr-ntrl-min);

    font-size: 1.6rem;
}

.paragraph {
    @extend %heading;

    font-size: 1.6rem;
}