:root {
  /* Colors */
  --clr-primary: #c69963;
  --clr-primary-dark: #b28451;
  --clr-secondary: #101d2c;
  --clr-grey-100: #f9f7f6;
  --clr-grey-200: #aaa;
  --clr-grey-800: #6d5d4b;
  --clr-grey-900: #54483a;
  /* Fonts */
  --ff-primary: 'Nunito', sans-serif;
  --fd-primary: 'Josefin Sans', sans-serif; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  min-height: 100vh;
  min-height: 100dvh;
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  min-height: 100vh;
  min-height: 100dvh;
  color: var(--clr-grey-800);
  font-family: var(--ff-primary);
  font-weight: 300;
  line-height: 1.6; }
